
@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");
.carouselB {
  width: 100%;
  padding: 16px;
  background: linear-gradient(#660099, #8161ff);
}

.badgeCompetence {
  height: 150px;
  border-radius: 4px;
  margin: 10px;
  background-color: #fafafa;
}

.description {
  font-family: Roboto;
  font-weight: 550;
}

.grayscale {
  filter: grayscale(1);
  -webkit-filter: grayscale(1);
  -moz-filter: grayscale(1);
  -o-filter: grayscale(1);
  -ms-filter: grayscale(1);
}

@media (min-width: 530px) {
  .imgBadge {
    max-width: 105px;
  }
}

.grayscale {
  filter: grayscale(1);
  -webkit-filter: grayscale(1);
  -moz-filter: grayscale(1);
  -o-filter: grayscale(1);
  -ms-filter: grayscale(1);
}

.badges {
    width: auto;
}
