* {
    font-family: 'Roboto', sans-serif;
}

.bold {
    font-weight: 700;
}

.uppercase {
    text-transform: uppercase;
}

.small {
    font-size: 14px;
}

.regular {
    font-weight: 16px;
}

.large {
    font-weight: 18px;
}
  
.multiselect__tag {
    background-color: #bfbfbf;
}

.multiselect__option--highlight {
    background: rgb(154, 128, 255) !important;
}

.multiselect__content {
    background: rgb(255, 255, 255);
}

.multiselect__placeholder {
    display: none !important;
}
  
.logo__index {
    margin-left: auto;
    margin-right: auto;
    height: 3em;
}