
.background {
  width: 100%;
  height: 150px;
  overflow: hidden;
}
.main-container {
  width: 90%;
  margin: auto;
  padding: 10px;
}
.round {
  max-width: 150px;
  border-radius: 100%;
  overflow: hidden;
  min-width: 125px;
}
.container-text {
  display: flex;
  justify-content: center;
  align-content: center;
  padding: 10px;
  margin-top: -70px;
}
.first-container-text {
  display: flex;
  flex-direction: column;
  align-content: flex-end;
  margin-top: 40px;
  width: 50%;
  text-align: right;
}
.second-container-text {
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  margin-top: 50px;
  width: 50%;
  text-align: left;
}
.container-CV {
  padding-top: 20px;
  display: flex;
  justify-content: center;
}
.CV {
  font-weight: 600;
  color: white;
  padding-left: 25px;
  padding-right: 25px;
  background: linear-gradient(#660099, #8161ff);
}
.CV:hover {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}
.nom {
  margin-top: 1.5em;
  margin-right: 1em;
  font-size: 18px;
}
.age {
  margin-top: 2em;
  margin-left: 1em;
  font-size: 18px;
}
.image {
  box-shadow: 3px 3px 3px grey;
}
