
#Projects .title {
  width: 35%;
  margin: auto;
}

#Projects .title h2 {
  font-size: 1.2em;
  text-transform: uppercase;
}

@media screen and (max-width: 800px) {
  #Projects .title {
    width: max-content;
  }
}
.plus {
  background: linear-gradient(#660099, #8161ff);
  margin-bottom: 3em;
  outline: none;
}
