
    #Project {
        margin-top: 25px;
    }

    .left {
         flex-direction: row-reverse;
    }

    .left .desc .link {
        text-align: right;
    }

    .left .desc h3, .left .desc p {
        text-align: left;
    }

    .left .desc {
    }

    .right .desc {
    }

    .right h3, .right p {
        text-align: right;
    }

    .right .link {
        text-align: left;
    }

    .img {
        min-width: 34%;
        background-size: cover;
        background-position: center;
    }

    .desc h3 {
        font-size: 1.5em;
    }

    .desc .link {
        font-style: italic;
        color: grey;
        margin-top: 15px;
    }

    @media screen and (max-width: 800px) {
        #Project {
            flex-direction: column-reverse;
            text-align: center;
        }

        h3, p {
            text-align: center!important;
        }

        .link {
            text-align: center!important;
        }

        .img {
            max-height: 250px;
        }

        h3 {
            margin-top: 15px;
            margin-bottom: 15px;
        }
    }

    @media screen and (min-width: 640px) {
      .project_2{
        margin: 1.5em 13.4em !important;
      }
    }
    .project {
      background-color: white;
      border-radius: 5px;
      box-shadow: 5px 5px 5px lightgrey;
      padding: 0.6em;
    }

    .titre {
      padding-bottom: 1em;
    }
    .flex_2 {
      flex: 1;
      flex-direction: column;
    }
