
.searchBarInput {
  border: 1px solid black;
  margin: auto;
  border-radius: 5px;
  height: 90%;
}
.seachBarActive {
  width: 90%;
}
.seachBarInactive {
  width: 100%;
}
.displayer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}
.stacker {
  height: 45px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;

  margin: 10px 10px;
  margin-top: 1rem;
}
.boxShad {
  border-radius: 15px;
  box-shadow: 0px 0px 10px gray;
}

.badgeLog {
  margin: 5px;
  height: 80%;
}

.lister {
  /* height: 50px; */
  /* width: 350px; */
  max-height: 30vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

input:focus {
  outline: none;
}

button {
  width: 8%;
}
