<template>
  <div>
    <div
      class="flex flex-row justify-center items-center mb-6"
      style="background:linear-gradient(#660099, #8161ff); width:100%; height: 5em;"
    >
      <nuxt-link :to="{name: 'index' }">
        <img
          src="~/assets/images/logo-white.png"
          class="logo__index"
        />
      </nuxt-link>
    </div>
    <search-bar
      @filterUpdate="filterChanges($event)"
      :badges="badges"
    />
    <profilList
      :profils="displayProfile"
      :badges="badges"
      :selected="selectedBadges"
    />
    <carousel-users
      :badges="badges"
      :profils="profils"
    />
  </div>
</template>

<script>
import SearchBar from "@/components/SearchBar";
import CarouselUsers from "@/components/CarouselUsers";
import ProfilList from "@/components/ProfilList";

export default {
  components: {
    SearchBar,
    CarouselUsers,
    ProfilList
  },
  async asyncData ({ $axios }) {
    try {
      let profils = await $axios.get(`https://fa247550.ngrok.io/adopteunmec/AdopteUnBack/web/app_dev.php/api/v1/profils`)
      let badges = await $axios.get(`https://fa247550.ngrok.io/adopteunmec/AdopteUnBack/web/app_dev.php/api/v1/badges`)
      return {
        profils: profils.data.response,
        badges: badges.data.response
      }
    } catch (error) {
      console.log(error)
    }
  },
  data () {
    return {
      selectedBadges: []
    }
  },
  methods: {
    filterChanges (filters) {
      this.selectedBadges = filters
    },
    isValueNull() {
      return 0
    }
  },
  computed: {
    displayProfile () {
      let selectedProfils = []
      this.profils.forEach(profil => {
        if (!profil.badges) return null
        profil.score = profil.badges.filter(badge => this.selectedBadges.includes(badge.id)).length
        if (profil.score > 0)
          selectedProfils.push(profil)
      })
      return selectedProfils.sort((a, b) => a.score - b.score).reverse()
    }
  }
};
</script>
