<template>
  <div>
    <carousel
      :perPage="3"
      :perPageCustom="[[0, 3],[900, 4]]"
      :paginationEnabled="false"
      :autoplay="true"
      :autoplayTimeout="3000"
      class="carouselB"
    >
      <slide v-for="badge in badges" :key="badge.id">
        <div class="badgeCompetence shadow-xl flex flex-col justify-around">
          <img
            :src="`https://fa247550.ngrok.io/adopteunmec/AdopteUnBack/web/app_dev.php/api/v1/badges/${badge.id}/image`"
            class="w-9/12 p-1 m-auto imgBadge badge"
            :class="{'grayscale' :!badge.enabled}"
          />
          <div class="description mb-3">{{ badge.name }}</div>
        </div>
      </slide>
    </carousel>
  </div>
</template>

<script>
import { Carousel, Slide } from "vue-carousel";
export default {
  components: {
    Carousel,
    Slide
  },
  props: ["badges"],
};
</script>

<style lang="css" scoped src="../assets/css/CarouselBadge.css"></style>
